<main class="attributions">
  <h1>Attributions</h1>
  <p>Almost every image here on the website was kindly given for free on the web. From the hero image to the profile pictures, 
    all of them were kindly shared and allowed to be used on the website. Therefore, this page is dedicated to attributing those authors
    of whom the images belonged to. A big thank you to every single one of them for their generosity!
  </p>
  <section class="list">
    <ul>
      <li>Hero photo by Tom Swinnen on <a href="https://www.pexels.com/photo/red-apples-on-tree-574919/" target="_blank" rel="noopener noreferrer">Pexels</a></li>
      <li>Mobile dropdown photo by Airin Party on <a href="https://www.pexels.com/photo/green-leafed-plant-bokeh-photography-767240/" target="_blank" rel="noopener noreferrer">Pexels</a></li>
      <li>Mobile homepage photo by Zen Chung on <a href="https://www.pexels.com/photo/people-picking-apples-5529011/" target="_blank" rel="noopener noreferrer">Pexels</a></li>
      <li>Desktop homepage photo by M1DDL3  M7N on <a href="https://www.pexels.com/photo/farmers-harvesting-oranges-14766901/" target="_blank" rel="noopener noreferrer">Pexels</a></li>
      <li>Default profile photo by ByteDance, Public Domain on <a href="https://commons.wikimedia.org/wiki/File:Default_pfp.jpg" target="_blank" rel="noopener noreferrer">Wikimedia Commons</a></li>
      <li>Samuel Butler profile photo by Charles Gogin (died 1931) on <a href="https://commons.wikimedia.org/w/index.php?curid=6363994" target="_blank" rel="noopener noreferrer">Wikimedia Commons</a></li>
      <li>Celebrity Equinox profile photo by By Justin Link - Own work, CC BY-SA 4.0 on <a href="https://commons.wikimedia.org/w/index.php?curid=82439618" target="_blank" rel="noopener noreferrer">Wikimedia Commons</a></li>
      <li>Dog profile photo by Gilberto Reyes on <a href="https://www.pexels.com/photo/brown-and-white-american-pit-bull-terrier-with-brown-costume-825949/" target="_blank" rel="noopener noreferrer">Pexels</a></li>
      <li>Fruits profile photo by Jane  T D on <a href="https://www.pexels.com/photo/sliced-fruits-on-tray-1132047/" target="_blank" rel="noopener noreferrer">Pexels</a></li>
      <li>Apples category photo by James Yarema on <a href="https://unsplash.com/photos/green-and-red-apples-on-white-plastic-container-P2X7NDx_GP0?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank" rel="noopener noreferrer">Unsplash</a></li>
      <li>Bananas category photo by TimothyPilgrim on <a href="https://commons.wikimedia.org/wiki/File:Bananavarieties.jpg" target="_blank" rel="noopener noreferrer">Wikimedia Commons</a></li>
      <li>Mangos category photo by James Yarema on <a href="https://unsplash.com/photos/green-and-red-apples-on-white-plastic-container-P2X7NDx_GP0?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank" rel="noopener noreferrer">Unsplash</a></li>
      <li>Spring harvest photo by Guido Gerding on <a href="https://commons.wikimedia.org/wiki/File:XN_Fruehjahrswiese_00.jpg" target="_blank" rel="noopener noreferrer">Wikimedia Commons</a></li>
      <li>Summer harvest photo by Theskuj on <a href="https://commons.wikimedia.org/wiki/File:20190212_SKJ0426-HDR-2.jpg" target="_blank" rel="noopener noreferrer">Wikimedia Commons</a></li>
      <li>Autumn harvest photo by Pixabay on <a href="https://www.pexels.com/photo/red-leaf-trees-near-the-road-33109/" target="_blank" rel="noopener noreferrer">Pexels</a></li>
      <li>Winter harvest photo by University of Pittsburgh and uploaded by crazypaco on <a href="https://commons.wikimedia.org/wiki/File:CathedralofLearningLawinWinter.jpg" target="_blank" rel="noopener noreferrer">Wikimedia Commons</a></li>
      <li>Add item photo by Reiseuhu on <a href="https://unsplash.com/photos/assorted-fruits-on-display-JI5VdAD2mAo?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" target="_blank" rel="noopener noreferrer">Unsplash</a></li>
      <li>Alice Mango photo by Thaumaturgist on <a href="https://commons.wikimedia.org/wiki/File:Mango_Alice_Asit_fs.jpg" target="_blank" rel="noopener noreferrer">Wikimedia Commons</a></li>
      <li>Pink Lady Apple photo by Veganbaking.net from USA on <a href="commons.wikimedia.org/wiki/File:Pink_Lady_Apple_(4107712628).jpg" target="_blank" rel="noopener noreferrer">Wikimedia Commons</a></li>
      <li>Cosmic Crisp Apple photo by PVM on <a href="https://commons.wikimedia.org/wiki/File:Cosmic_Crisp.jpg" target="_blank" rel="noopener noreferrer">Wikimedia Commons</a></li>
      <li>Honeycrisp Apple photo by Evan-Amos on <a href="https://commons.wikimedia.org/wiki/File:Honeycrisp-Apple.jpg" target="_blank" rel="noopener noreferrer">Wikimedia Commons</a></li>
      <li>Honey Mango photo by Dennis Sylvester Hurd on <a href="https://commons.wikimedia.org/wiki/File:Yay,_the_Ataulfos_Have_Arrived.jpg" target="_blank" rel="noopener noreferrer">Wikimedia Commons</a></li>
      <li>Gros Michel Banana photo by Firzafp on <a href="https://commons.wikimedia.org/wiki/File:Pisang_Ambon_(Gros_Michel)_at_a_fruit_shop_in_Simpang_III_Sipin_-_Jambi_City,_JA.jpg" target="_blank" rel="noopener noreferrer">Wikimedia Commons</a></li>
    </ul>
  </section>
</main>