<main class="categories">
  <h1 class="categories-heading">Categories</h1>
  <section class="categories-grid">
    <% categories.forEach((category) => { %>
      <div class="category">
        <img src="<%= category.image_link %>" width="300" height="300">
        <p><%= category.name %></p>
      </div>
    <% }); %>
  </section>
</main>