<footer>
  <div class="logo">
    <p>Pure, Fresh, Fruitta</p>
    <p>Savor the Colors of Nature</p>
  </div>
  <div class="social-links">
    <p>X (Twitter)</p>
    <p>Instagram</p>
    <p>Facebook</p>
    <p>Tiktok</p>
    <p>Email</p>
    <p>LinkedIn</p>
  </div>
  <div class="footer-link-one">
    <nav>
      <h5>All About Fruitta</h5>
      <ul>
        <li>About Fruitta</li>
        <li>Careers</li>
        <li>Founder's Story</li>
        <li>Fair Trade Certified</li>
        <li>Our Farms & Sourcing</li>
        <li>Sustainability</li>
      </ul>
    </nav>
  </div>
  <div class="footer-link-two">
    <nav>
      <h5>Customer Service</h5>
      <ul>
        <li>Contact Us</li>
        <li>Returns & Refunds</li>
        <li>Shipping & Delivery</li>
        <li>FAQ</li>
        <li>Our Promise</li>
        <li>Protecting Earth</li>
      </ul>
    </nav>
  </div>
  <div class="copyright">
    <p>&copy; 2025 Fruitta. Fresh produce, even fresher design.</p>
  </div>
</footer>