<header class="main-header">
  <a href="/" class="logo">Fruitta</a>
  <nav class="header-nav" id="dropdown">
    <ul class="header-links">
      <li><a href="/categories/">Categories</a></li>
      <li><a href="/fruits/">Fruits</a></li>
      <li><a href="#">Inspiration</a></li>
      <li><a href="#">Sustainability</a></li>
    </ul>
  </nav>
  <button class="menu-button" aria-expanded="false" aria-controls="dropdown">
    <span class="material-symbols-outlined menu-icon">
      menu
    </span>
  </button>
</header>