<header>
  <a class="logo">Fruitta</a>
  <nav class="header-nav hidden">
    <ul class="header-links">
      <li><a href="#">Shop</a></li>
      <li><a href="#">Recipes</a></li>
      <li><a href="#">Inspiration</a></li>
      <li><a href="#">Sustainability</a></li>
    </ul>
  </nav>
  <div class="header-dropdown-container">
    <button class="menu-button">
      <span class="material-symbols-outlined menu-icon">
        menu
      </span>
    </button>
  </div>
</header>