<section class="hero">
  <h1>Track. Restock. Grow.</h1>
  <div class="call-to-action">
    <p>Fruitta makes managing your stock as easy as picking fruit.</p>
    <button>Get started</button>
  </div>
</section>
<section class="why-fruitta">
  <h2>Why Fruitta?</h2>
  <p>Who could dislike fruit? Packed with flavor, vitamins, and antioxidants, fruits are nature’s perfect snack and a cornerstone of a healthy life. Fruitta was founded to honor that goodness and to make tracking, managing, and enjoying every variety simple and fun.</p>
  <img
    srcset="/images/why-fruitta/why-fruitta-mobile.jpg 600w, 
            /images/why-fruitta/why-fruitta-desktop.jpg 1200w"
    sizes="(max-width: 600px) 200px, 100vw"
    src="/images/why-fruitta/why-fruitta-desktop.jpg"
    alt="People picking fruits">
  <p>Add, edit, organize, or even remove any fruit you like. Fruitta stores it all, from honeycrisp apples to burro bananas, so your collection stays perfectly up to date. Start today and experience the joy of effortless fruit tracking. When it comes to fruit, it’s gotta be Fruitta.</p>
</section>
<section class="testimonials">
  <h2>Testimonials</h2>
  <div class="testimonials-grid">
    <article class="testimonial">
      <header>
        <h3 class="author">Vinson</h3>
        <p class="title">Lover of fruits</p>
      </header>
      <p class="content">Fruits are really good, and Fruitta is just as good! Quote me on that!</p>
    </article>
    <article class="testimonial">
      <header>
        <h3 class="author">John Doe</h3>
        <p class="title">Unknown</p>
      </header>
      <p class="content">Fruitta has helped me to learn and love fruits! Who knew that there were so many fruits...</p>
    </article>
    <article class="testimonial">
      <header>
        <h3 class="author">Samuel Butler</h3>
        <p class="title">Author of "Erewhon"</p>
      </header>
      <p class="content">Autumn is the mellower season, and what we lose in flowers we more than gain in fruits.</p>
    </article>
    <article class="testimonial">
      <header>
        <h3 class="author">Celebrity Equinox</h3>
        <p class="title">Cruise ship</p>
      </header>
      <p class="content">We order a lot of food, and food is logistics. That's Fruitta.</p>
    </article>
    <article class="testimonial">
      <header>
        <h3 class="author">Random Person</h3>
        <p class="title">Randomly selected</p>
      </header>
      <p class="content">I tried fruitta and it seems really cool!</p>
    </article>
    <article class="testimonial">
      <header>
        <h3 class="author">FruitsLover123</h3>
        <p class="title">Real fruit lover</p>
      </header>
      <p class="content">Fruitta sounds like "fruit"</p>
    </article>
  </div>
</section>
