footer {
  display: grid;
  grid-template-areas:
    "social"
    "company"
    "footer-links-one"
    "footer-links-two"
    "copyright";
  background-color: #c5deb5;
  color: #100007;
  padding: 2rem 1.5rem 0 1.5rem;
}

.company {
  grid-area: company;
}

footer .slogan,
footer .logo {
  font-size: 4rem;
}

footer .slogan {
  margin: 3rem 0 0.5rem 0;
}

footer .logo {
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.tagline {
  font-size: 1.5rem;
  margin: 0 0 1rem 0;
}

.social-links {
  grid-area: social;
  justify-self: end;
}

.social-links ul {
  display: flex;
}

.social-links li:not(:last-child) {
  margin-right: 0.75rem;
}

.footer-link-list {
  font-size: 1.25rem;
}

.links-heading {
  font-size: 1.25rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.footer-link-list li {
  margin-bottom: 0.5rem;
}

.footer-link-list a {
  position: relative;
  text-decoration: none;
  color: #000;
}

.footer-link-list a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.25s ease;
}

.footer-link-list a:hover::after {
  width: 100%;
}

.footer-links-one {
  grid-area: footer-links-one;
}

.footer-links-two {
  grid-area: footer-links-two;
}

.copyright {
  grid-area: copyright;
  justify-self: center;
  margin-top: 1rem;
}

.copyright-tagline {
  display: none;
}

@media (min-width: 600px) {
  footer {
    grid-template-areas:
      ". social"
      "company company"
      "footer-links-one footer-links-two"
      "copyright copyright";
  }

  .company {
    margin: 2rem 0;
  }

  .copyright {
    justify-self: start;
    margin-top: 3rem;
  }

  .copyright-tagline {
    display: inline;
  }
}

@media (min-width: 1200px) {
  footer {
    grid-template-areas:
      "company footer-links-one footer-links-two"
      "social footer-links-one footer-links-two"
      "copyright copyright copyright";
    gap: 2rem;
    padding: 5rem 2rem 0 2rem;
  }

  footer .slogan {
    margin: 0;
  }

  .social-links {
    justify-self: start;
  }
}
