main.form {
  padding: 3rem clamp(1rem, 6vw, 3rem) 8rem clamp(1rem, 6vw, 3rem);
}

.form form {
  background-color: #fff;
  border-radius: 5px;
  max-width: 600px;
  padding: clamp(1rem, 3vw, 1.5rem);
  margin: 0 auto;
}

.form h1 {
  text-align: center;
  margin-top: 0;
}

.form .required {
  color: #fe0f0f;
}

.form p {
  margin-bottom: 1.25rem;
}

.form li {
  padding: 0.25rem;
}

.form fieldset {
  border: none;
  padding: 0;
  margin: 0 0 1.25rem 0;
}

.form fieldset ul {
  display: flex;
  flex-wrap: wrap;
}

.form fieldset li {
  margin-right: 1rem;
}

.form fieldset label {
  display: inline;
}

.form label,
.form legend {
  display: block;
  margin-bottom: 0.5rem;
}

.form input:not([type="checkbox"]) {
  box-sizing: border-box;
  font-size: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  width: 100%;
  padding: 0.5rem;
}

.form textarea {
  box-sizing: border-box;
  font-family: inherit;
  width: 100%;
  height: 5rem;
  max-width: 100%;
  padding: 0.25rem;
}

.form .submit {
  display: block;
  font-size: 1rem;
  color: #fff;
  background-color: #718664;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1.25rem;
  margin: 2.5rem 0 0 auto;
}
