.list-link {
  text-decoration: none;
  color: inherit;
}

.list {
  min-height: 80vh;
  padding: 0 1rem 6rem 1rem;
}

.list-heading {
  text-align: center;
  font-size: clamp(2.25rem, 8vw, 3.5rem);
}

.list-grid {
  display: grid;
  gap: 1.5rem;

  max-width: 25rem;
  margin: auto;
}

.cell-container {
  position: relative;
}

.list-cell {
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  padding: 1rem;
  transition: transform 0.25s ease;
}

.list-cell:hover,
.edit-link:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.list-cell img {
  object-fit: cover;
  width: 100%;
  height: 15rem;
}

.list-cell p {
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0;
}

.item-options {
  display: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.cell-container:hover .item-options {
  display: flex;
}

.item-options a {
  display: block;
  background-color: rgb(0, 0, 0, 0.5);
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 0.1rem 0.35rem;
  transition: transform 0.25s ease;
}

.item-options a:not(:last-child) {
  margin-right: 0.5rem;
}

.item-options a:hover {
  transform: scale(1.04);
}

.item-options a .material-symbols-outlined {
  font-size: 2.5rem;
  color: #fff;
}

.item-options a:active {
  transform: scale(0.9);
}

@media (min-width: 600px) {
  .list-grid {
    grid-template-columns: repeat(2, 1fr);
    max-width: 50rem;
  }
}

@media (min-width: 1024px) {
  .list-grid {
    grid-template-columns: repeat(3, 1fr);
    max-width: 75rem;
  }
}
